.rightbar{
    flex: 3.5;
    
}
.rightbarWrapper{
    padding: 20px 20px 0 0;
    
}
.birtdayContainer{
    display: flex;
    align-items: center;
}
.birthdayImg{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 10px;
}
.birthdayText{
    font-weight: 500;
    font-size: 15px;
    display: flex;
}
.rightbarAd{
    width: auto;
    border-radius: 20px;
    /* margin: 30px 0 10px 20px; */
    margin-left: 40px;
    margin-top: 20px;
}
.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rightbarProfileImgContainer{
    margin-left: 10px;
    position: relative;
}
.rightbarProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 30px;
    /* margin-top: 5px; */
}
.rightbarTitle{
    margin-left: 40px;
    margin-top: 20px;
}
.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position:absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}
.rightbarUserName{
 justify-content: space-between;
 margin-left: 10px;
}
.rightbarInfoItem{
    margin-left: 30px;
}
.rightbatTitle{
    margin-left: 30px;   
}
.rightbarFollowing{
    margin-left: auto; 
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;  

}
.rightbarFollowings{
    margin-left: 5px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  

}
.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.rightbarFollowingImg{
    width: 100px;
    height: 100px;object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}
.rigthbarInfo{
    margin-bottom: 30px;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}
.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}
.rightbarInfoValue{
    font-weight: 300;
}
